<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jot</title>
  <link rel="icon" type="image/png" href="images/jotFavicon.png"/>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Finally a simple, intuitive scheduling app for small businesses and organizations."
  <meta name="keywords" content="scheduling, appointments, small business, quick, easy, intuitive">
  <meta name="author" content="">
  <!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.rc.1/handlebars.min.js"></script> -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" media="screen">
  <link href="stylesheets/jotStyles.css" rel="stylesheet" media="screen">
</head>
  <body>

        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
              <div class="container-fluid">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
    </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              {{#if user}}
                <p class="navbar-text">
                  <strong>Hi,</strong>
                  {{user.firstName}}
                </p>
                </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <a href="/calendar">Go to Calendar</a>
                  </li>
                  <li>
                    <a href="/">My Dashboard</a>
                  </li>
                  <li>
                    <a href="/logout">Log Out</a>
                  </li>
              {{else}}
                </li>
              {{/if}}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    {{#if error}}
      <p class="alert alert-warning">{{error}}</p>
    {{/if}}

    {{#if success}}
      <p class="alert alert-success">{{success}}</p>
    {{/if}}

    {{#if notice}}
      <p class="alert alert-info">{{notice}}</p>
    {{/if}}

    <!--where our other templates will insert-->
    {{{body}}}

    </div> <!-- /container -->

  </body>
  <script type="text/javascript" src="/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/underscore/underscore-min.js"></script>
  <script type="text/javascript" src="/backbone/backbone-min.js"></script>

  <script type="text/javascript" src="javascripts/calendar.js"></script>
  <script type="text/javascript" src="javascripts/bookingViews.js"></script>
  <script type="text/javascript" src="javascripts/kidViews.js"></script>
  <script type="text/javascript" src="javascripts/calendarViews.js"></script>
  <script type="text/javascript" src="javascripts/dashboardViews.js"></script>
  <script type="text/javascript" src="javascripts/models.js"></script>
  <script type="text/javascript" src="javascripts/collections.js"></script>
  <script type="text/javascript" src="javascripts/main.js"></script>
</head>



</html>
