<!--this script is needed to get rid of the '#_=_' hash that Facebook sends with the callback-->
<script type="text/javascript">
    if (window.location.hash && window.location.hash == '#_=_') {
        if (window.history && history.pushState) {
            window.history.pushState("", document.title, window.location.pathname);
        } else {
            // Prevent scrolling by storing the page's current scroll offset
            var scroll = {
                top: document.body.scrollTop,
                left: document.body.scrollLeft
            };
            window.location.hash = '';
            // Restore the scroll offset, should be flicker free
            document.body.scrollTop = scroll.top;
            document.body.scrollLeft = scroll.left;
        }
    }
</script>
{{#if user}}
  <div>
    <h1>Jot</h1>
  </div>
  <div>
    <!-- <div>
      <p>Username: {{user.username}}</p>
      <p>First Name: {{user.firstName}}</p>
      <p>Last Name: {{user.lastName}}</p>
    </div> -->
    <div id="upcomingBookings">
    </div>
    <form id= "seeCalendar" action = "/calendar" method="get"><input type="submit" value = "See Calendar"></form>
    <div id="kidList"></div>
<script>
var currentUser = "{{user.username}}";
</script>
{{else}}
  <div>
    <h1>Jot</h1>
    <p>
      <a href="/signin" class="btn btn-primary btn-lg" role="button">
        Sign in!
      </a>
    </p>
  </div>

{{/if}}
